src/main/resources/schemas/book.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://sample.nuxeo.org/sample/schemas/book/"
  xmlns:bk="http://sample.nuxeo.org/sample/schemas/book/">

  <xs:simpleType name="stringArray">
    <xs:list itemType="xs:string" />
  </xs:simpleType>
  
  <xs:element name="isbn" type="xs:string"/>
  <xs:element name="rating" type="xs:int"/>
  <xs:element name="publicationDate" type="xs:date"/>
  <xs:element name="keywords" type="bk:stringArray"/>  

</xs:schema>
